.main_profile_post {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 30px;

}

@media(max-width:1190px) {
  .home .container .main_profile_post {
    width: 100%;
  }

}

.main_profile_post .profile {
  position: relative;
}

.main_profile_post .profile .back_img {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: -100;
  height: 300px;
}

.main_profile_post .profile .back_img img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.main_profile_post .profile .profile_all {
  width: 90%;
  background-color: var(--box-color);
  padding: 20px;
  /* position: absolute; */
  /* bottom: -60%; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
    border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 2px 8px var(--shadow-color);
  margin: auto;
  margin-top: 200px;
}

.main_profile_post .profile .profile_all img {
  width: 100px;
  position: absolute;
  top: -50px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  left: 20px;
  /* transform: translateX(-50%); */
  border: 1px solid #ddd;
}

.main_profile_post .profile .profile_all .info_me {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main_profile_post .profile .profile_all .info_me h3 {
  color: var(--title-color);
}

.main_profile_post .profile .profile_all h2 {
  color: var(--title-color);
  text-align: center;
}

.main_profile_post .profile .profile_all .info_me p {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
}

.main_profile_post .profile .profile_all .info_me p>span {
  font-weight: 600;
}

.main_profile_post .profile .profile_all button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
    border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.bosts>h3 {
  background-color: var(--box-color);
    border-radius: var(--border-radius);
  padding: 20px;
  text-align: center;
  color: var(--title-color);
}

.main_profile_post .bosts .all_bost {
  position: relative;
}




/* From Uiverse.io by sihamjardi */

 .remove_div-but {
  width: fit-content;
}
.remove_div-but .buttonnn {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  top: 20px;
  right: 20px;
  font-size: 22px;
  color: var(--title-color);
}
.remove_div-but .remove_but{
position: absolute;
top: 45px;
right:15px;
background-color: var(--body-color);
border-radius: var(--border-radius);
width: 200px;
box-shadow: 0 2px 8px var(--shadow-color);
display: none;
}
 .remove_div-but .remove_but p{
padding:10px;
color: var(--text-color);
cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s all;
    border-radius: var(--border-radius);
}
 .remove_div-but .remove_but p:hover{
color: white;
background-color:rgb(231 151 151) !important;
}
/* .buttonnn,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.buttonnn .button__text {
  transform: translateX(16px);
  color: #fff;
  font-weight: 600;
}

.buttonnn .button__icon {
  position: absolute;
  transform: translateX(70px);
  height: 100%;
  width: 30px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonnn .svg {
  width: 20px;
} */

.buttonnn:hover {

}

/* .buttonnn:hover .button__text {
  color: transparent;
}

.buttonnn:hover .button__icon {
  width: 100px;
  ;
  transform: translateX(0);
}

.buttonnn:active .button__icon {
  background-color: #b20000;
}

.buttonnn:active {
  border: 1px solid #b20000;
} */




/* ======================================== */


.Confirm_deletion {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(159 159 159 / 50%);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  /* تأثير البلور */
}

.Confirm_delet {
  width: 50%;
  height: fit-content;
  background: rgb(255, 255, 255);
    border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  background-color: var(--box-color);
}

@media(max-width:767px) {
  .Confirm_delet {
    width: 90%;
  }
}

.Confirm_delet .card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Confirm_delet .card-heading {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}

.Confirm_delet .card-description {
  color: var(--text-color);
}

.Confirm_delet .card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Confirm_delet .card-button {
  width: 50%;
  height: 35px;
    border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.Confirm_delet .primary {
  background-color: rgb(255 142 138);
  color: white;
}

.Confirm_delet .primary:hover {
  background-color: rgb(255, 73, 66);
}

.Confirm_delet .secondary {
  background-color: var(--body-color);
  color: var(--title-color);
}

.Confirm_delet .secondary:hover {
  background-color: rgb(197, 197, 197);
}

.Confirm_delet .exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.Confirm_delet .exit-button:hover svg {
  fill: black;
}

.Confirm_delet .exit-button svg {
  fill: rgb(175, 175, 175);
}


.description_profile {
  width: 100%;
  background-color: var(--box-color);
  padding: 20px;
    border-radius: var(--border-radius);
  box-shadow: 0 2px 8px var(--shadow-color);
  margin: auto;
  color: var(--text-color);
}

.description_profile h3 {
  color: var(--title-color);
}


.buttom_F{
  display: flex;
  justify-content: end;
}

.buttom_F p {
background-color: var(--body-color);
padding: 10px ;
border-radius: 10px;
    font-size: var(--text-size);
}
.buttom_F .accept_G{
  width: auto;
  gap: 10px;
}

.buttom_F .accept_G button{
  transition: all 0.3s;
}

.buttom_F .accept_G button:nth-child(1) {
background-color: var(--body-color);
color: black
}

.buttom_F .accept_G button:nth-child(2):hover {
    box-shadow: 0 0 8px var(--main-color);
}