.Create_Bost_image_and_answer{
    flex: 2;
}
.Create_Bost_image_and_answer h2{
    padding-bottom: 15px;
    color: var(--title-color);
}
.Create_Bost_image_and_answer .form{
display: flex
;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: var(--border-radius);
    position: relative;
    flex-direction: column;
}

.Create_Bost_image_and_answer .form .form_flex{
  display: flex;
  gap: 10px;
}

.Create_Bost_image_and_answer .form .input_ward{
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--box-color);
    font-size: var(--text-size);
    border: 2px solid transparent;
    color: var(--text-color);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding:15px
}

.Create_Bost_image_and_answer .form .question{
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--body-color);
    font-size: var(--text-size);
    border: 2px solid transparent;
    color: var(--text-color);
    padding:15px
}

.Create_Bost_image_and_answer .form .question:focus{
   outline: none;
   border-color: #aaa;
}

  .Create_Bost_image_and_answer .unified_form {
    display: flex
    ;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 40px;
        align-items: end;
  }
  
  .Create_Bost_image_and_answer .form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100% ;
  }
  
  .Create_Bost_image_and_answer .form .image-box {
    width: 100%;
    border: 2px dashed #aaa;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--body-color);
    position: relative;
  }

  .Create_Bost_image_and_answer .form .all_input_answer{
    flex: 1.5;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 5px 0;
  }

  .Create_Bost_image_and_answer .form .all_input_answer input{
    border: 2px solid transparent;
  }

  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(1) input{
    background-color: #bdd4bd;
  }
  
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(2) input,
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(3) input,
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(4) input{
    background-color: rgb(231 151 151);
  }
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(1) input:focus{
    border-color: green;
  }
  
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(2) input:focus,
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(3) input:focus,
  .Create_Bost_image_and_answer .form .all_input_answer .word_error:nth-child(4) input:focus{
    border-color: red;
  }

  .Create_Bost_image_and_answer .plus-sign {
    font-size: 40px;
    color: #999;
  }
  
  .Create_Bost_image_and_answer .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Create_Bost_image_and_answer .input_ward {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  .Create_Bost_image_and_answer .input_ward:focus {
    outline: none;
    border: 2px solid var(--main-color);
  }
  
  .Create_Bost_image_and_answer .submit_btn {
    padding: 10px 20px;
    font-size: 16px;
    /* margin-top: 15px; */
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    margin-left: auto;
    display: block;
  }


  .Create_Bost_image_and_answer .image-box .image_error{
    font-size: 15px;
    /* margin: 0 0 5px 0; */
    /* text-align: left; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(231 151 151);
    width: 100%;
    height: 100%;
    display: flex
  ;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }
  .Create_Bost_image_and_answer .all_input_answer .word_error{
    position: relative;
  }
  .Create_Bost_image_and_answer .all_input_answer .word_error ._error{
    color: red;
    font-size: 13px;
    /* margin: 0 0 5px 0; */
    /* text-align: left; */
    position: absolute;
    left: 10px;
    top: -18px;
  }
  


  .add-question-btn {
    background-color: var(--box-color);/* أزرق فاتح */
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
  }
  
  .add-question-btn:hover {
    background-color: var(--main-color);
    transform: translateY(-2px);
    color: white;
  }
  
  .add-question-btn .icon {
    font-size: 18px;
    font-weight: bold;
  }
  

  