.update_profile{
    flex: 2;
    color: var(--title-color);
}

.update_profile .lod_and_input{
  position: relative;
  width: 100%;
}

.update_profile .profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: var(--border-radius); 
    display: block;
    margin: 10px auto;
  }
  
  .update_profile .image-container {
    text-align: center;
  }

  
  .update_profile input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    width: 100%;
  }
  
  .update_profile button {
    background-color: var(--main-color) !important;
    color: white;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
  }
  
  .update_profile button:hover {
    background-color: #0056b3;
  }


  .update_profile .profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius);
    display: block;
    margin: 10px auto;
  }
  
  .update_profile .image-container {
    text-align: center;
  }
  
  .update_profile form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100% !important;
    margin: 0 !important;
  }
  
  .update_profile input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
  }
  
  
  .update_profile button:hover {
    background-color: #0056b3;
  }

  .update_profile .profile-pic, .cover-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
     border-radius: var(--border-radius);
    display: block;
    margin: 10px auto;
  }
  
  .update_profile .image-container {
    text-align: center;
  }
  
  .update_profile  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
  }
  
  .update_profile  input {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--box-color);
    font-size: var(--text-size);
    border: 2px solid transparent;
    color: black;
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 15px;
  }
  .update_profile textarea {
     width: 100%;
     height: 200px;
     padding: 15px;
     border-radius: var(--border-radius);
     border: none;
     background-color: var(--box-color);
     font-size: var(--text-size);
     border: 2px solid transparent;
     color: var(--text-color);
     resize: none ;
     overflow: auto;
     box-shadow: 0 2px 8px var(--shadow-color);
  }
  
  .update_profile  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .update_profile  button:hover {
    background-color: #0056b3;
  }

  .update_profile .image-upload {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .update_profile  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .update_profile .placeholder {
    font-size: 40px;
    color: #ccc;
    font-weight: bold;
  }

 .update_profile  .img_lod_and_input{
  display: flex;
  gap: 20px;
 }